<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CURPS1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>admin.jsp</welcome-file>
    <welcome-file>signup.jsp</welcome-file>
    <welcome-file>addstudent.jsp</welcome-file>
    <welcome-file>courseentry.jsp</welcome-file>
    <welcome-file>studentinfo.jsp</welcome-file>
    <welcome-file>addstudent.jsp</welcome-file>
    <welcome-file>studentinfodisplay.jsp</welcome-file>
    <welcome-file>ErrorAddStudent.jsp</welcome-file>
    <welcome-file>teacher.jsp</welcome-file>
    <welcome-file>courseregisty.jsp</welcome-file>
    <welcome-file>errorsignup.jsp</welcome-file>
    <welcome-file>marksentry.jsp</welcome-file>
    <welcome-file>marksentrysuccessfull.jsp</welcome-file>
    <welcome-file>student.jsp</welcome-file>
    <welcome-file>search.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogIn</display-name>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>rps.controller.LogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>rps.controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfooServlet</display-name>
    <servlet-name>StudentInfooServlet</servlet-name>
    <servlet-class>rps.controller.StudentInfooServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfooServlet</servlet-name>
    <url-pattern>/StudentInfooServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stservlet</display-name>
    <servlet-name>stservlet</servlet-name>
    <servlet-class>rps.controller.stservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stservlet</servlet-name>
    <url-pattern>/stservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>rps.controller.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdSt</display-name>
    <servlet-name>AdSt</servlet-name>
    <servlet-class>rps.controller.AdSt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdSt</servlet-name>
    <url-pattern>/AdSt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>rps.controller.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Creg</display-name>
    <servlet-name>Creg</servlet-name>
    <servlet-class>rps.controller.Creg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Creg</servlet-name>
    <url-pattern>/Creg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mentrys</display-name>
    <servlet-name>Mentrys</servlet-name>
    <servlet-class>rps.controller.Mentrys</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mentrys</servlet-name>
    <url-pattern>/Mentrys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentservlet</display-name>
    <servlet-name>studentservlet</servlet-name>
    <servlet-class>rps.controller.studentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentservlet</servlet-name>
    <url-pattern>/studentservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrcResultS</display-name>
    <servlet-name>SrcResultS</servlet-name>
    <servlet-class>rps.controller.SrcResultS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrcResultS</servlet-name>
    <url-pattern>/SrcResultS</url-pattern>
  </servlet-mapping>
</web-app>